{% extends 'base.html' %}
{% load thumbnail %}
{% block title %}
{{ postdetail.text|truncatechars:30 }}
{% endblock %}
{% block content %}
<hr>
  <ul> 
    <li>
      <b> Дата публикации: </b> {{ postdetail.pub_date|date:"d E Y" }} 
    </li>
    <li>
      <b> Группа: </b> {{ postdetail.group.title }} 
      {% if postdetail.group %} 
        <a href="{% url 'posts:group_list' postdetail.group.slug %}">Все записи группы</a>
      {% endif %}
    </li>
    <li>
      <b> Автор: </b> {{ postdetail.author.get_full_name }} <a href="{% url 'posts:profile' postdetail.author.username %}"> Все посты пользователя </a> 
    </li>
    <li>
      <b> Всего постов: </b> {{ postdetail.author.posts.count }} 
    </li>
  </ul>
  {% thumbnail postdetail.image "960x339" crop="center" upscale=True as im %}
  <img class="card-img my-2" src="{{ im.url }}">
  {% endthumbnail %}
  <p>{{ postdetail.text }}</p>
  {% if postdetail.author.username == user.username %}
<button type="button" class="btn btn-primary">
  <a class="nav-link link-light" href="{% url 'posts:post_edit' postdetail.pk %}">Редактировать</a>
</button>
  {% endif %}
{% include 'includes/add_comment.html' %}
{% if not forloop.last %}
{% endif %}
<p></p>
{% include 'posts/includes/paginator.html' %}
{% endblock %}